<head>
  <title>Song Data Analyst</title>
  <script src="vis.js"></script>
</head>

<body>

<div class="container">
  {{> song_viz}}
</div>	
</body>

<template name="song_viz">
<div class="row">
	<div class="col-md-6">
			{{> song_viz_controls}}
			{{> song_feature_list}}
	</div>
	<div class="col-md-6">
			{{> song_vizjs}}
	</div>
</div>

</template>

<template name="song_viz_controls">
	<form id="set">
		<!-- list of available single features -->
		Single numeric features:
		<br/>
		<select class="js-select-single-feature">
			{{#each get_feature_names "single"}}
			<option value="{{name}}">{{name}}</option>
			{{/each}}
		</select>
		<button class="btn js-show-blobs">Blobs</button>
		<button class="btn js-show-timeline">Timeline</button>
	</form>
</template>	


<template name="song_feature_list">
	<ul id="lists">
	{{#each get_all_feature_values}}
		<li>{{artist}} - {{title}}: {{value}}</li>
	{{/each}}
	</ul>
</template>

<template name="song_vizjs">
	<div id="visjs"></div>
</template>

