/* CSS declarations go here */

#visjs{
	height:500px;
}
.vis-label{
	fill-opacity:0;
}

.vis-label:hover{
	fill-opacity:1;
}
option{
background-color:rgb(10,10,10);
padding:10px;
color:rgb(200,200,100);
}
#lists{
 height:400px;
 overflow:auto;
}
body{
padding:30px;
background:linear-gradient(rgb(20,100,170),rgb(210,210,210),rgb(230,230,230));
}
#set{
margin-left:20px;
}
.js-show-blobs{
 background-color:rgb(100,100,200);
 color:rgb(230,230,230);
 font-size:16px;
 box-shadow :5px 5px 3px 2px;
}
.js-show-timeline{
 background-color:rgb(100,100,200);
 color:rgb(230,230,230);
 font-size:16px;
 box-shadow :5px 5px 3px 2px;
}
select{
 border-radius: 10%;
}
